<% provide(:title, "Enjoy Golfとは？") %>
<div class="gtco-cover gtco-cover-sm" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="gtco-container text-center">
    <div class="display-t">
      <div class="display-tc">
        <h1>コースを友達にシェアしよう</h1>
      </div>
    </div>
  </div>
</div>

<div id="gtco-features">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
        <h2>アプリ説明</h2>
        <p>投稿する際にコース名を記入すると、地図や楽天GORAの予約サイトに繋がるリンクが生成されます。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="feature-center animate-box" data-animate-effect="fadeIn">
          <span class="icon">
            <i>1</i>
          </span>
          <h3>まずは友達をフォローしよう</h3>
          <p>自分とフォローしている友達の投稿がトップページに表示されます。友達のお気入りのコースや、スコアを見て楽しんで下さい。</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-center animate-box" data-animate-effect="fadeIn">
          <span class="icon">
            <i>2</i>
          </span>
          <h3>多様な機能</h3>
          <p>投稿したコースに対して、コメントやお気に入り、ログ機能があります。GoogleMapで場所も確認できます。使いこなしてゴルフをもっと楽しんで下さい。</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-center animate-box" data-animate-effect="fadeIn">
          <span class="icon">
            <i>3</i>
          </span>
          <h3>検索機能</h3>
          <p>自分の住んでいる地域や行ってみたいコース名を検索フォームに入力するとそれにあったコースが一覧表示されます。コース選択に悩むことはもう無くなります。</p>
        </div>
      </div>
    </div>
  </div>
</div>
