<% if logged_in? %>
  <div class="container">
    <p><%= link_to "コースを登録する", new_course_path, id: "new_course_btn" %></p>
    <%= render 'layouts/search' if logged_in? %>
    <%= render 'shared/feed' %>
 </div>
<% else %>
  <div class="row landnng-page">
    <div class="gtco-cover gtco-cover-sm" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="gtco-container text-center">
        <div class="display-t">
          <div class="display-tc">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
              <h1>Enjoy Golf へようこそ!</h1>
              <p>オススメのコースをみんなにシェアしませんか？</p>
              <p>
                <%= link_to 'Enjoy Golfを始めよう', signup_path, class: "btn btn-primary btn-lg btn-demo", id: "btn-lannding-page" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
