<h2 class="rakuten_gora">楽天GORAでコースを検索しよう</h2>
<div class="row">
  <%= form_tag :rakuten_search, method: :get, remote: true do %>
  <%= label_tag :keyword, ''%>
    <div class="col-md-10">
      <div class='form-group'>
        <%= text_field_tag 'keyword', params[:keyword], class: 'form-control', placeholder: "地名やコース名のキーワードを入力してください" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class='form-group'>
        <%= submit_tag('検索結果を表示' , class: 'btn btn-primary') %>
      </div>
    </div>
  <% end %>
</div>

<div id="Rakuten_courses"></div>
