<div class="container">
  <% if @favorites.present? %>
    <ol class="favorites background-style">
      <div class="row">
        <div class="col-md-12">
          <h3>　お気に入り (<%= @favorites.count %>)</h3>
        </div>
      </div>
      <%= render @favorites %>
    </ol>
  <% else %>
    <h3 class="nothing-list">お気に入りはありません</h3>
  <% end %>
</div>
