<%= link_to "/lists/#{@course.id}/create",
            method: :post,
            class: 'list',
            remote: true do %>
  <% if current_user == @course.user %>
    <div class="list-btn-list"><i class="fas fa-list-alt"></i> ブックマークに追加する</div>
  <% else %>
    <div class="list-btn-list"><i class="fas fa-utensils"></i> ブックマークに追加する</div>
  <% end %>
<% end %>
