<% provide(:title, 'ユーザー一覧') %>
<div class="container">
  <h1>ユーザー一覧</h1>
  <%= will_paginate %>
  <ul class="users background-style">
    <%= render 'users', users: @users %>
  </ul>
  <%= will_paginate %>
</div>
