<% provide(:title, "コース登録") %>
<div class="container">
  <h1>コース登録</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'courses/course_form' %>
    </div>
  </div>
</div>
