
// ミックスイン//
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

h1 {
   margin: 0; padding: 0;
   font-size: 20px;
}
a {
   text-decoration: none;
}
nav {
   margin: 0 0 0 auto;
}
ul {
   list-style: none;
   margin: 0;
}
li {
   margin: 0 0 0 15px;
   font-size: 14px;
}
.main-visual {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: url('main_visual.jpg') top center / cover no-repeat;
}
h2 {
   margin: 0;
   font-size: 30px;
   font-weight: normal;
}

.sp-nav {
   display: none;
}

///ヘッダースマホ用///
@media screen and (max-width: 640px) {

  header {
     padding: 30px 4% 10px;
     top: 0;
     width: 100%;
     display: flex;
     align-items: center;
     background-color: white;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  }
  .gtco-container {
    margin-top: 50px;
  }
   .pc-nav {
      display: none;
   }
   .sp-nav {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: block;
      width: 100%;
      background: rgba(0, 0, 0, .8);
      opacity: 0;
      transform: translateY(-100%);
      transition: all .2s ease-in-out;
   }
   #hamburger {
      position: relative;
      display: block;
      width: 30px;
      height: 25px;
      margin: 0 0 0 auto;
   }
   #hamburger span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      transform: translateY(-50%);
      background-color: #000;
   }
   #hamburger::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
   }
   #hamburger::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70%;
      height: 2px;
      background-color: #000;
   }
   /*スマホメニュー*/
   .sp-nav ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
   }
   .sp-nav li {
      margin: 0;
      padding: 0;
   }
   .sp-nav li span {
      font-size: 15px;
   }
   .sp-nav li a, .sp-nav li span {
      display: block;
      padding: 20px 0;
   }
   /*-閉じるアイコンー*/
   .sp-nav .close {
      position: relative;
   }
   .sp-nav .close::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 16px;
      height: 1px;
   }
   .sp-nav .close::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 16px;
      height: 1px;
   }
   .toggle {
      transform: translateY( 0 );
      opacity: 1;
   }
   .main-visual {
      padding: 0 4%;
   }
   h2 {
      line-height: 1.6;
      text-align: center;
   }
}

///ヘッダーロゴ///
 #logo {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    width: 150px;
  }
}
///ヘッダー///
.navbar-fixed-top {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding-top: 15px;

  .header-link {
    font-size: 20px;
  }
}

///フッター///
footer {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;;
}
// フォーム //
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
 #error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
 margin-top: -10px;
 margin-bottom: 10px;
 span {
   margin-left: 20px;
   font-weight: normal;
 }
}
 #session_remember_me {
 width: auto;
 margin-left: 0;
}

//// プロフィールページ ////
.title-profile {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.user-picture img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.user-picture-box {
  margin-top: 0.5em;
  margin-left: 1em;
}

.show-user-name {
  display: inline-block;
}

.account-edit {
  margin-top: 20px;
}

.course-name {
  margin-top: 20px;
}

//// ユーザー一覧ページ ////
.users {
 list-style: none;
 margin: 0;
 li {
   overflow: auto;
   padding: 10px 0;
   border-bottom: 1px solid $gray-lighter;
 }
}

// コース(Course) //
.courses {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
 }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .description {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .fh5co-text h2 {
    margin-top: 15px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

//// トップページ（ログイン後） ////
// 「コースを登録する」ボタン
.btn-record {
  margin-top: 3em;
}

//// コース登録ページ ////
.input-need {
  color: red;
  font-size: 13px;
}

.input-unneed {
  font-size: 13px;
}


//// コース個別ページ ////
.course-user-name {
  display: inline-block;
}

h2.course-name {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.course-reference {
  margin-top: 30px;
}

.tips {
  margin-top: 30px;
  margin-bottom: 30px;
  h5 {
    font-size: 17px;
  }
}

.title-tips {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.show-course-other-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.course-other-info {
  margin-top: 10px;
  margin-bottom: 20px;
}

.course-info {
  h5 {
    font-size: 16px;
    display: inline-block;
  }
  h4 {
    font-size: 20px;
    display: inline-block;
  }
}

.title-comment {
  font-weight: bold;
  font-size: 17px;
}

.comments {
  list-style: none;
  li {
    font-size: 14px;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    .comment {
      font-size: 16px;
    }
  }
}

.comment-create-at {
  color: grey;
}

// コース一覧
.course-user {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 10px;
}

h3.course-name {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}

.course-description {
  margin-top: 10px;
}

// お気に入り
.course-user {
 margin-bottom: 20px;
}

// リスト
.list-button {
 margin-bottom: 20px;
}

// ログ
.add-cooklog {
 font-weight: bold;
}
///コースログ///

.title-courselog {
  font-weight: bold;
  font-size: 17px;
}

.course-created-at {
  color: grey;
}

.logs {
  list-style: none;
  li {
    font-size: 16px;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    .delete {
      font-size: 14px;
    }
  }
}

//// コース削除 ////
.change-course {
  display: inline-block;
}

.edit-course .delete-course {
  font-size: 15px;
}

/// 画像のサイズ ///
.course-picture img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

/// フォロー、フォロワー数表示部 ///
.stats {
  margin: 5px 0;
}

// お気に入り
.like-btn-unlike {
  color: red;
}
.like-btn-like {
  color: grey;
}

a.like, a.unlike {
  text-decoration: none;
}

.favorites {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

////通知 ////
// 新しい通知があるときは赤文字にする
li.new_notification > a > span {
  color: red;
}

.notifications {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .gravatar {
    margin-right: 10px;
    margin-top: -5px;
  }
}

.notification-message {
  font-size: 16px;
}

//// リスト ////
.list-btn-unlist {
  color: red;
  margin: 10px 0;
}

.list-btn-list {
  color: grey;
  margin: 10px 0;
}

a.list, a.unlist {
  text-decoration: none;
}

.lists {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.list-message {
  font-size: 16px;
}

.list-course-description {
  margin-bottom: 20px;
}
