<footer class="row copyright">
  <div class="col-md-12">
    <p class="pull-left">
      <small class="block">&copy; 2020 Yudai Aketa All Rights Reserved.</small>
    </p>
    <p class="pull-right">
      <ul class="gtco-social-icons pull-right">
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
    </p>
  </div>
</footer>
